<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Favourites</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</head>

<body>
  <%- include('partials/nav-bar') %>
    <%- include('partials/leftSearchBar.ejs') %>
      <main>
        <div>
          <h2>My Favourite Listings</h2>

          <table>
            <tr>
              <% for(const listing of orderedListings) { %>

                <th>
                  <div class="listing">
                    <img height="200px" src=<%=listing.image_url %>></img><br>
                    <div><b>
                        <%= listing.title %>

                      </b>
                      <%= listing.name %>
                        <p style="color:green"><b>$<%= listing.price %></b></p>
                    </div>
                  </div>
                  <form action="/listings/<%=listing.id%>" method="GET">
                    <button type="submit">View</button>
                  </form>
                </th>

                <% } %>
            </tr>
          </table>
        </div>
      </main>
</body>

</html>
