<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/nav-bar') %>
    <%- include('partials/leftSearchBar.ejs') %>
      <main>
        <div>
          <!-- TO DO: IMAGE URL NOT SHOWING FIX -->
          <% for(const listing of orderedListings) { %>
            <div class="listing">
              <img src=<%=listing.image_url %>/>
              <%= listing.price %>
                <%= listing.condition %>
                  <%= listing.description %>
            </div>
            <% } %>
        </div>
      </main>
      <script type="text/javascript" src="../public/scripts/onclick.js"></script>
</body>

</html>
