<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../styles/main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/pageOnclickHandlers.js"></script>
</head>

<body>

  <div>
    <%- include('partials/nav-bar') %>
    <div class="main-container">
</div>
<div class="sidebar"><%- include('partials/leftSearchBar.ejs') %></div>
</div>
  <h2>Most Recent Listings</h2>
<main>
    <div class="listing-title">
    <div class="listings">
      <% for(let i=0; i < orderedListings.length; i++) { %>
        <div class="listing">
          <div class="listing-content">
            <img class="listing-image" src=<%=orderedListings[i].image_url %>></img><br>
            <div><b class="listing-title">
                <%= orderedListings[i].title %>
              </b>
              <p ><b>$<%= orderedListings[i].price %></b></p>
            </div>
          </div>
          <form action="/listings/<%=orderedListings[i].id%>" method="GET">
            <button type="submit">View</button>
          </form>
        </div>
        <% } %>
    </div>
  </div>
    <nav aria-label="...">
      <ul class="pager">
        <li><a class="previous" href="#">Previous</a></li>
        <li><a class="next" href="#">Next</a></li>
      </ul>
    </nav>
    <div id="pageNumber" style="visibility:hidden">
      <%= pageNumber %>
    </div>
  </main>
</body>

</html>
