<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/nav-bar') %>
    <%- include('partials/leftSearchBar') %>
      <main style="margin: 1em;">
        <!-- Image -->
        <img src="https://m.media-amazon.com/images/I/71bIrPF9ZOL._AC_SL1500_.jpg" style="height:100px;"></img>

        <!-- this div contains the big box of information relative to the post -->
        <div class="description-box" style="background-color: aquamarine;">
          <h3> TODO: ADD TITLE </h3>
          <p><%=  listing.description %></p>
          <button style="background-color: orange;">Edit</button>
          <button style="background-color: #f44336;">Delete</button>
          <!-- div here for moving price/condition (paired together) -->
          <div>
            <p><%=  listing.price %></p>
            <p><%=  listing.condition %></p>
          </div>
        </div>
        <!-- Div here for comments -->
        <h1><b>Comments</b></h1>
        <% for (let comment of comments) {%>
          <div style="background-color: lightgray;">
            <!-- userID stays in a div, Text in another -->
            <div>
              TODO: MANAGE USERS FOR COMMENTS
              <p><%= comment["msg_text"] %></p>
            </div>
          </div>
          <% } %>
            <div class="comment-box-container" style="background-color: lightpink;">
              <!-- <section class="new-tweet"> Maybe change all colored area into sections? -->
              <form method="POST" action="/comments">
                <div class="text-input-container">
                  <textarea placeholder="Negotiate Here"></textarea>
                </div>
                <div class="submit-container">
                  <button type="submit">Comment</button>
                </div>
              </form>
            </div>
      </main>
</body>

</html>
