<!DOCTYPE html>
<html lang="en">

<head>
  <title>Single Listing</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../styles/main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/scripts/soldButtonOnClickHandler.js"></script>
  <script type="text/javascript" src="/scripts/commentHandler.js"></script>
  <script type="text/javascript" src="/scripts/favouriteButtonOnClickHandler.js"></script>
  <script type="text/javascript" src="/scripts/deleteButtonOnClickHandler.js"></script>

</head>

<body>
  <%- include('partials/nav-bar') %>
    <div class="sidebar"><%- include('partials/leftSearchBar') %></div>
      <main class="single-listing-main-container">
        <!-- ******************************************** Image div ******************************************** -->
        <div class="single-listing-image-div">
          <img class="single-listing-image" src="<%= listing.image_url%>" />
        </div>
        <!-- ******************************************** Image div end ******************************************** -->

        <!-- ******************************************** button div's ******************************************** -->
        <div class="single-listing-buttons">
          <!-- check logged in -->
          <!-- EJS here a bit clunky -->
          <% if(userID && parseInt(userID)===listing.user_id){ %>
            <%if(listing.sold) { %>
              <h3>This item is sold.</h3>
              <button id="mark-as-available-button" class="btn btn-primary">
                Mark As Available
              </button>
              <!-- user is logged out -->
              <% } else { %>
                <h3>This item is Available.</h3>
                <button id="mark-as-sold-button" class="btn btn-primary">
                  Mark as sold
                </button>
                <% } %>
                  <%if(!isFavourite) {%>
                    <button id='add-favourite-button' class="btn btn-primary">
                      Set as Favourite</button>
                    <% } else { %>
                      <button id='remove-favourite-button' class="btn btn-primary">
                        Remove Favourite</button>
                      <% } %>
                        <a type="submit" class="btn btn-primary"
                          href="http://localhost:8080/listings/<%=listing.id%>/edit">Edit</a>
                        <button id="delete-button" class="btn btn-primary">Delete</button>
                        <% } %>



        </div>

        <!-- ******************************************** description div's ******************************************** -->
        <!-- this div contains the big box of information relative to the post -->
        <div class="description-box">
          <!-- div for fb marketplace top -->
          <div class="single-listing-title-container single-listing-box">
            <h3 class="single-listing-titles">
              <%= listing.title %>
            </h3>
            <div class="single-listing-price">
              <p><%= listing.price %></p>
            </div>
            <div>
              <p><%= listing.date_created %></p>
            </div>
          </div>
          <!-- details div -->
          <div class="details-info-container single-listing-box">
            <h3 class="single-listing-titles">Details</h3>
            <!-- justify content space between -->
            <div><p><%= listing.condition %></p>
            </div>
            <!-- stretch: add category as button that will search with params of category? (cool idea) -->
            <div><p> <%= listing.categories%></p>
            </div>
            <!-- description box -->
            <div><p><%= listing.description %></p>
            </div>
          </div>
          <!-- stretch: add Icon for user? -->
          <div class="seller-info-container single-listing-box">
            <h3 class="single-listing-titles" >Seller Information</h3>
            <div>
              <p>user with id: <%= listing.user_id %></p>
            </div>
          </div>
        </div>
        <!-- ******************************************** description div's end ******************************************** -->

        <!-- ******************************************** comments div ******************************************** -->
        <!-- Div here for comments -->
        <h3><b>Comments</b></h3>
        <div id="comment-container">
          <% if (comments) { %>
            <% for (let comment of comments) { %>
              <div class="comment-text">
                <!-- userID stays in a div, Text in another -->

                <p>
                  <%= comment["msg_text"] %> -user:<%= comment.user_id %>
                </p>
              </div>
              <% } %>
                <% } %>
        </div>
        <div class="comment-box-container" >
          <!-- <section class="new-tweet"> Maybe change all colored area into sections? -->
          <form id="comment-form" method="POST" action="/api/comments/<%= listing.id %>">
            <div class="text-input-container">
              <div class=" text-input-container form-group">
                <textarea class="comment-textarea form-control" name="msg_text" placeholder="Negotiate Here"></textarea>
                <button type="submit" class="btn btn-primary comment-button">Comment</button>
              </div>
            </div>
          </form>
        </div>
        <!-- ******************************************** comments div end ******************************************** -->
      </main>
</body>

</html>
